<nav id="navBar">
    <ul id="menu">
        <li><a id="index" href="./home.html">Home</a></li>
        <li><a id="selectPet" href="./selectPet.html">Selecting a Pet</a></li>
        <li><a id="grooming" href="./grooming.html">Grooming</a></li>
        <li><a id="location" href="./location.html">Our Location</a></li>
    </ul>
</nav>
<nav>
    <ul id="menu">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
    <div class="contact-info">
        <p>Contact us</p>
        <p>112-222-2222</p>
        <p>dog@dog.com</p>
        <p>123 Dogwalk Street, 85255</p>
    </div>
</nav>
