
body {
    font-family: serif;
    font-size: 10px;
}
h1, h2, h3 {
    font-family: sans-serif;
    color: rgb(33, 87, 51);
}
h1 {
    font-size: 2rem;
    text-align: center;
    background-color: rgb(75, 133, 94);
}
h2 {
    font-size: 1.6rem;
}
h3 {
    font-size: 1.4rem;
}
hr {
    border: .5rem solid rgb(33, 87, 51);
}
#address {
    text-align: center;
}
ul {
    list-style-type: square;
}
@media only screen and (min-width: 768px) {
    body {
        font-size: 15px;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        font-size: 20px;
    }
}