a {
    color: white;
    text-decoration: none;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: grid;
    grid-template-rows: 20vh auto 10vh;
    grid-template-columns: 20vw auto;
    grid-template-areas: "header header" "aside main" "footer footer";
}

header, aside, main, footer {
    padding: 20px;
    text-align: center;
}

header {
    color: white;
    background-color: blue;
    grid-area: header;
}

aside {
    background-color: yellow;
    grid-area: aside;
}

aside > img {
    border-radius: 50%;
}

main {
    grid-area: main;
    
}

footer {
    color: white;
    background-color: blue;
    grid-area: footer;
}

header, footer, #petWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15rem;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(33,87,51);
}

p {
    color: blue;
}

.mascot {
    height: 50px;
    vertical-align: middle;
}

.amigo_div {
    background-color: lightblue;
    height: 200px;
    width: 200px;
}

.amigo_div > img {
    width: 180px;
    height: 180px;
}
